<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="calendar.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Space+Mono&display=swap" rel="stylesheet">
      <script data-cfasync="false" data-tockify-script="embed" src="https://public.tockify.com/browser/embed.js"></script>
  <title>Healing Warriors</title>
</head>
<body>  
  <%- include('layouts/navbar');-%>
<div class="contactTitle">
  <img src="titleback.png">
<h1>Scheduled Events</h1>
</div>
<br>
<div class="dates">
<div class="full-calendar">
 
</div>
<iframe src="https://embed.styledcalendar.com/#EJVzYSZLQSrcXqVMdHRq" title="Styled Calendar" class="styled-calendar-container" style="width: 100%; border: none;" data-cy="calendar-embed-iframe"></iframe>

<div class="mini-calendar">
  
</div>
</div>
<script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js"></script>
<script type="text/javascript" src="warrior-script.js"></script>
	</body>
	</html>