d<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="navprog.css">
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Space+Mono&display=swap" rel="stylesheet">
  <script src="https://donorbox.org/widget.js" paypalExpress="false"></script>
  <title>Healing Warriors</title>
  <style type="text/css">
    #emblemDonate { transform: translateX(10rem) translateY(-2.3rem); } 
    @media screen and (max-width: 1183px) {#emblemDonate { transform: translateX(2rem) translateY(-2.3rem); }}
  </style>
</head>
<body>  
  <%- include('layouts/navbar');-%>
  <div class="slideShow">    
    <div class="hero">
      <h1>Donations</h1>
      <img src="back2.png" class="backImage">
      <h3>
At Healing Warriors, we extend our heartfelt gratitude for your generous support. Your donations make a profound difference in the lives of veterans and their families, providing them with the resources needed to heal from physical and mental challenges. Thank you for being an essential part of our mission to give back to those who have served our   country. Together, we create a community of healing and hope.</h3>
    </div>
    <div class="slide"> 
    <iframe src="https://donorbox.org/embed/yoga-funding" name="donorbox" allowpaymentrequest="allowpaymentrequest" seamless="seamless" frameborder="0" scrolling="no" height="900px" width="100%"     style="max-width: 500px; min-width: 250px; max-height:none!important"></iframe>
    </div>
  </div>
<script type="text/javascript">
  window.onload = function() {
    var emblem = document.querySelector('.emblem');
    var path = window.location.pathname;
    emblem.id = 'emblemDonate';    
  }
</script>
<script type="text/javascript" src="warrior-script.js"></script>
	</body>
	</html>