<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Programs</title>
  <link rel="stylesheet" href="navprog.css">
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Space+Mono&display=swap" rel="stylesheet">
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
</head>
<body>
  
  <%- include('layouts/navbar');-%>
  
    
<div class="slideShow">
  <div class="hero">
    <h1>What We <br> Offer</h1>
    <img src="back2.png" class="backImage">
	  <h3>Discover the true power of synergy as meditation, yoga, and breathwork harmoniously intertwine. When utilized in conjunction, these practices amplify their individual benefits, leading to a profound transformation.</h3>
    <br>
	  <div class="slideButtons">
      <button id="myButton">Meditation</button>
      <button id="myButtonTwo">Breathwork</button>
      <button id="myButtonThree">Hatha Yoga</button>
    </div>
  </div>



      <div class = slide>        
      <div id="textContainer">         
        <img src="medtest.png" id="image1" alt="Image 1">
        <img src="hero.png" class="heroImage" alt="lotus">
        <h2 id="heading1">Meditation</h2>
        <p class="proText" id="text1">      	
          Meditation is a powerful tool that can help you achieve a calm and centered state of mind. At Healing Warriors, we offer meditation classes that are led by experienced instructors who guide you through various techniques, including mindfulness and visualization. Our classes can help you reduce stress, anxiety, and depression, while also promoting greater focus and concentration. By incorporating meditation into your daily routine, you can experience greater mental clarity and a deeper sense of inner peace.</p>
        
        <img id="image2" src="breath.png" alt="Image 2" />
        <h2 id="heading2">Breathwork</h2>
        <p class="proText" id="text2">
          Breathwork is a powerful technique that promotes physical and emotional well-being. At Healing Warriors, we offer breathwork classes led by experienced teachers who guide you through various breathing exercises. Our classes can help you reduce stress, anxiety, and depression, while also increasing energy and focus. By incorporating breathwork into your daily routine, you can experience greater clarity of mind and a deeper sense of relaxation.</p>
      
        <img id="image3" src="yoga.png" alt="Image 3" />
         <h2 id="heading3">Hatha Yoga</h2>
        <p class="proText" id="text3">
          Hatha yoga is a gentle and restorative practice that focuses on the mind-body connection. Our skilled instructors lead hatha yoga classes that cater to all skill levels, from beginners to experienced yogis. With regular practice, you can improve your flexibility, strength, and balance, while also reducing stress and promoting relaxation. Our classes are designed to help you cultivate a sense of inner peace and physical well-being.</p>    
    </div>
  
</div>

     
 </div>


 
<script type="text/javascript" src="script.js"></script>
</body>
</html>
</html>