@font-face {
    font-family: lobster;
    src: url(Lobster-Regular.ttf);
}

body {
  /*background-image: url("sitmed.png");
  background-repeat: no-repeat;
  background-size: 98%;
  background-attachment: fixed;
  height: 500px;
  background-position: center -340px;*/
  font-family: 'Roboto Condensed', sans-serif;
  overflow: hidden;
  font-weight: bold;  

}

a {
  text-decoration-line: none;
  text-decoration-color: none;
  color: black;
    }
  span {
  	z-index: 3;
  }

.emblem {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 160px;
	width: 160px;
	border-radius: 50%;
	margin-right: 10px;
	z-index: 4;
	position: fixed;
	transform: translateX(10rem) translateY(-1.3rem);
	font-family: lobster;
	font-size: 32px;
	color: black;
	background: linear-gradient(323deg, rgba(253,187,45,1) 0%, rgba(195,34,107,0.3477766106442577) 100%);
	box-shadow: 0 0 50px orangered, 0 0 8px darkred;
	text-shadow: 1px 2px 40px whitesmoke;
    background-size: cover;
	justify-content: center;
    align-items: center;


} 

.navbar {
	background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,0.30) 100%);
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	text-align: center;
	gap: 1rem;
	backdrop-filter: blur(4px);
	z-index: 2;
}

.nav-item {
  position: relative;
  display: inline-block;
  padding: 2rem;
  background-color: rgba(221, 221, 221, 0);
  text-decoration: none;
  margin-right: 2rem;  
  text-align: center;
  transition: background-color 0.6s ease-in-out;
 }
 .nav-item:hover {
  z-index: 1;
  background-color: rgba(221, 221, 221, 0.9);
  color: whitesmoke;
  text-decoration-color: whitesmoke;
}
.nav-item:hover a   {
	color: whitesmoke;
} 

.menu {
  position: relative;
  display: none;
  padding: 2rem;
  background-color: rgba(221, 221, 221, 0);
  text-decoration: none;
  text-align: center;
  transition: background-color 0.6s ease-in-out;
  margin-left: 2rem;
  border: none;
 }
 .menu:hover {
  z-index: 1;
  background-color: rgba(221, 221, 221, 0.5);
  color: whitesmoke;
  text-decoration-color: whitesmoke;
}
.menu:hover a   {
	color: whitesmoke;
}

.hamburger {
  display: block;	
  cursor: pointer;
  padding: 0px;
  background: blueviolet;
}

.line {
  width: 20px;
  height: 4px;
  background-color: #000;
  margin: 3px 0;
  border-radius: 1rem;
}


.dropdown {
  position: relative;
  display: inline-block;
  padding: 2rem;
  background-color: rgba(221, 221, 221, 0);
  text-decoration: none;
  margin-right: 2rem;  
  justify-content: center;
  z-index: 2;
 }

.dropdown-content {
  width: 6rem;
  display: none;
  position: absolute;
  text-decoration: none;
  z-index: -4;
  
  color: whitesmoke;
  padding-left: 2rem;
  padding-top: 3rem;
  left: 0;
  right: 0;
  top: 0;
  text-align: left;
  clip-path: polygon(0 0, 100% 0, 100% 21%, 0 21%);
  transition: background-color 1s ease-in-out;
  transition: all 1.2s ease;
 }


.dropdown:hover .dropdown-content {
  display: grid;
  grid-template-rows: 1fr;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  animation: appear 1100ms forwards;
  background-color: rgba(221, 221, 221, 1);
}

.dropdown-content a:hover {
	color: whitesmoke;
	
}

.dropdown:hover {
  z-index: 2;
  background-color: rgba(221, 221, 221, 0);

  color: whitesmoke;    
}


.wrap {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
} 

.back-ground {
  transform: translateZ(-10px) scale(2.5) translateY(34rem);

}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transform: translateY(-31rem);
}

.container > * {
  flex-basis: calc(50% - 10px);
  margin: 5px;
  background: linear-gradient(323deg, rgba(253, 187, 45, 1) 0%, rgba(195, 34, 107, 0.3477766106442577) 100%);
  color: black;
  padding: 10px;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 16px;
}


.left-column {
  margin-right: auto;
  margin-left: 2rem;
  margin-bottom: 6rem;
  backdrop-filter: blur(4px);
  padding-bottom: 18px;
  position: relative;
}

.right-column {
  margin-left: auto;
  margin-right: 2rem;position: relative;
  margin-bottom: 6rem;
  backdrop-filter: blur(4px);
  background: linear-gradient(323deg, rgba(34,193,195,1) 0%, rgba(195, 34, 107, 0.347) 100%);
  padding-bottom: 18px;
  position: relative;
}
.left-column:first-of-type {
  height: 280px;
}

h2 {
	text-align: center;
}
p {
	margin-bottom: 20px;
}
.click {
  position: absolute; /* position the click div inside the right column div */
  bottom: 10px; /* adjust the distance from the bottom of the right column */
  left: 50%; /* move the click div to the center of the right column */
  transform: translateX(-50%); /* center the click div */
  text-align: center; /* center the anchor tag inside the click div */
  }

.click a {
  display: inline-block; /* make the anchor tag a block element to add padding */
  padding: 10px 20px; /* add padding to create the button look */
  background-color: rgba(0, 123, 255, 0.9); /* set the background color */
  color: #fff; /* set the font color */
  border-radius: 1rem; /* add rounded corners to the button */
  text-decoration: none; /* remove the underline from the anchor tag */
  cursor: pointer; /* change the cursor to a pointer when hovering over the button */
  transition: background-color 0.2s ease-in-out; /* add a smooth transition for the background color */
}

.click a:hover {
  background-color: #0062cc; /* darken the background color on hover */
}



.logo {
    background-image: url("logof.png"); /*rgba(53,191,201,0.99)*/
	border-radius: 50%;
	float: left;
	text-align: center;
	transform: translateY(-1rem);
	shape-outside: circle();
	margin: 16px;
	width: 350px;
	height: 350px;
	display: block;
	background-size: cover;
	justify-content: center;
    align-items: center;
    text-overflow: none;
    color: teal;
    text-shadow: 1px 1px 2px whitesmoke;
        }

    .left-column .icon {
    	float: left;
    }    
    .right-column .icon {
    	float: right;
    }    

.icon {
    background-image: url("tree.png"); /*rgba(53,191,201,0.99)*/
	border-radius: 50%;
	text-align: center;
	transform: translateY(-1rem);
	shape-outside: circle();
	margin: 16px;
	width: 220px;
	height: 220px;
	display: block;
	background-size: cover;
	justify-content: center;
    align-items: center;
    text-overflow: none;
    color: teal;
    text-shadow: 1px 1px 2px whitesmoke;
        }        

.mobile {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9999;
  background: linear-gradient(323deg, rgba(45, 253, 220, 1) 0%, rgba(34, 195, 167, 0.95) 100%);
  padding-bottom: 1rem;
  border-radius:  ;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
}  
.button {
    display: grid;    
    padding: 10px 20px;
    background: radial-gradient(circle, rgba(253,187,45,0.306)  0%, rgba(34,193,195,1) 100%);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
  .button:hover {
     animation: glowing-text-shadow-animation .5s ease-in-out,  glow .5s ease-in-out;
     box-shadow: 0 0 40px teal;
     text-shadow: 0 0 30px teal;

  }
  
  .button:active {
    transform: translateY(1px);
  }

.cross-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  font-size: 40px;
  font-weight: bold;
  color: #555;
  cursor: pointer;
  transform: translateY(-1rem);
}

.cross-button:hover {
  color: #f00;
}

.mobile-clip {
clip-path: polygon(91% 0, 100% 0, 100% 8%, 91% 8%);
animation: appear 1100ms forwards;

}

.mobile-removed {
  animation: dis-appear .8s ease-in-out;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }




@keyframes appear {
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes dis-appear {
  100% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);

  }
}

@keyframes glowing-text-shadow-animation {
    from {
        text-shadow: none;
    }
    to {

    	text-shadow: 0 0 40px teal;

        /*text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #008080, 0 0 70px #008080, 0 0 80px #008080, 0 0 100px #008080;*/
    }
  
}
@keyframes glow {
    from {
        box-shadow: none;
    }
    to {
         box-shadow: 0 0 40px teal;
    }
  
}



@media screen and (max-width: 1500px) {
  
  .left-column:first-of-type  {
  height: 310px;
  transition: all smooth;  
}

  .emblem {
    transform: translateX(1rem);
    margin: 0 auto;
    height: 140px;
	width: 140px;
    font-size: 22px;
  } 

}

@media screen and (max-width: 1309px) {

.left-column:first-of-type  {
  height: 368px;
  transition: all smooth;  
}


}


@media screen and (max-width: 1183px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    overflow: hidden;
  }
  
  .nav-item, .dropdown {
    display: none;
    margin: 1rem 0;
    padding: 1rem;
  }

  .menu {
  	display: inline-block;
  	margin-left: 35rem;

  	  }
  
  .dropdown-content {
    position: static;
    width: 100%;
    clip-path: none;
    display: none;
    margin-top: 1rem;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    animation: none;
    background-color: transparent;
  }

  .left-column:first-of-type {
  height: auto;
  margin-right: auto;
  margin-left: auto;
  flex-basis: calc(100% - 10px);
}
  
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    transform: translateY(-20rem);
  }
  .main > * {
  	height: auto;
  	width: 100%;
  	margin-bottom: 20%;
  	transform: translateX(0) translateY(0);


  }
  
  .logo {
    margin-right: 1rem; 
    width: 150px;
    height: 150px;
    transform: translateY(0);
    float: right;
  }

  .icon {
    margin-right: 1rem; 
    width: 80px;
    height: 80px;
    transform: translateY(0);
    
  }

  .container { 
  	transform: translateY(-42rem);
  }
  .emblem {
    transform: translateX(1rem) translateY(-1rem);
    margin: 0 auto;
    height: 140px;
	width: 140px;
    font-size: 22px;
  } 
  .left-column {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 6rem;

  flex-basis: calc(100% - 10px);
}

.right-column {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 6rem;
  flex-basis: calc(100% - 10px);
}
  
   

}

@media screen and (max-height: 770px) {

.container { 
    transform: translateY(-30rem);
  }

  }

  @media screen and (max-height: 700px) {
  .container { 
    transform: translateY(-26rem);
  }

  }

  @media screen and (max-height: 500px) {

    .container { 
    transform: translateY(-14rem);

  }
}

@media screen and (max-width: 710px) {
    .back-ground {
    transform: translateZ(-10px) scale(1.5) translateX(-15rem) translateY(28rem);
  }
	.menu {
  	display: inline-block;
  	margin-left: 18rem;

  	  }